body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #1e1c1c;
}

a:link, a:visited {
	color: #326BB1;
	text-decoration: none;
}

div.main-wrapper {
	max-width:600px;
	border-color:#DDDDDD;
	border-style:solid;
	border-radius:3px;
	border-width: 1px;
	margin: 15px auto 15px auto;
	box-sizing:border-box;
	padding-bottom: 20px;
}

img.email-logo {
	margin: 25px auto 5px auto;
	display:block;
}

div.content-main {
	padding: 0px 35px 0px 35px;
}

h1.email-title {
	text-align: center;
	color: #777777;
	padding-bottom: 20px;
}

h2.section-intro {
	font-size: 18px;
	font-weight: 500;
	color: "#1E1A1A";
	padding-bottom: 20px;
}

div.section-notification {
	background-color: #F3F5F3;
	width: 100%;
	height: 35px;
	border-radius: 2px;
	margin-bottom: 20px;
    height: auto;
    /* display:block;
	overflow: hidden; */
}

div.header-plain {
	padding-left: 10px;
	line-height: 35px;
	/* overflow: hidden; */
}

div.top-level-post {
	width: 100%;
}

div.profile-img {
	width: 48px;
	display: inline-block;
	margin-right: 8px;
}

div.post-body {
	display:inline-block;
	vertical-align: top;
	width: 80%;
}

div.post-title {
	font-size:15px;
	font-weight: 500;
	line-height: 100%;
}

/* sub-600px media query, mobile optimized */
@media (max-width: 600px) {
	body {
		font-size: 18px;
	}
	
	div.main-wrapper {
		border-width: 0px;
	}
	
	h2.section-intro {
		font-size: 22px;
	}
	
	div.post-title {
		font-size: 19px;
		line-height: 130%;
		margin-top: -4px;
		margin-bottom: 5px;
	}
	
	div.header-plain {
		line-height: 120%;
		padding: 5px 10px 5px 10px;
	}
}